@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply inline-block;
    @apply w-auto;
  }
}

@layer utilities {
  .filter-white {
    filter: invert(1);
  }
  .viewFont {
    font-size: 9vw;
  }
  .filter-pink {
    filter: invert(80%) sepia(9%) saturate(6056%) hue-rotate(303deg)
      brightness(126%) contrast(146%);
  }
}
